body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.color{
	color: peru;
	font-weight: bold;
}
.navbar-morado{
	background: #ce93d8;
}
.texto-uno{
	font-size: 2em;
	color: white;
	display: inline-block;
}
.bloques{
	display: inline-block;
}
